div{
  margin-top:8px;
  padding:16px;
  box-sizing:border-box;
  background-color: #f0f0f0;
  border:1px solid #dfdfdf;
  border-radius:3px;
}
#root{
  margin-top:0;
  padding:0;
  box-sizing: border-box;
  background-color: transparent;
  border-width: 0;
  border-radius: 3px;
}
button{
  box-sizing: border-box;
  padding:8px;
  background-color: #2079ff;
  color:#f0f0f0;
  border:1px solid #2079ff;
  border-radius: 3px;
}
.label{
  margin-right:10px;
}
input{
  box-sizing: border-box;
  padding: 8px;
  border:1px solid #2079ff;
  border-radius: 3px;
}
p{
  font-size: 18px;
}